/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` servicessprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` servicessprite -->
<img class="icon-home" />
```
*/
.icon-analyze {
  background-image: url(servicessprite.png);
  background-position: -252px -196px;
  width: 31px;
  height: 34px;
}
.icon-arrowdown {
  background-image: url(servicessprite.png);
  background-position: -242px -179px;
  width: 19px;
  height: 12px;
}
.icon-clients {
  background-image: url(servicessprite.png);
  background-position: -118px -196px;
  width: 34px;
  height: 34px;
}
.icon-companies {
  background-image: url(servicessprite.png);
  background-position: 0px -196px;
  width: 42px;
  height: 34px;
}
.icon-develop {
  background-image: url(servicessprite.png);
  background-position: -42px -196px;
  width: 42px;
  height: 34px;
}
.icon-dotnet {
  background-image: url(servicessprite.png);
  background-position: -172px -103px;
  width: 186px;
  height: 76px;
}
.icon-dotnetsmall {
  background-image: url(servicessprite.png);
  background-position: -207px -179px;
  width: 35px;
  height: 14px;
}
.icon-dotnetsmallinactive {
  background-image: url(servicessprite.png);
  background-position: -172px -179px;
  width: 35px;
  height: 14px;
}
.icon-frontend {
  background-image: url(servicessprite.png);
  background-position: 0px 0px;
  width: 172px;
  height: 196px;
}
.icon-frontendsmall {
  background-image: url(servicessprite.png);
  background-position: -52px -230px;
  width: 27px;
  height: 31px;
}
.icon-frontendsmallinactive {
  background-image: url(servicessprite.png);
  background-position: -79px -230px;
  width: 27px;
  height: 31px;
}
.icon-icon-suport {
  background-image: url(servicessprite.png);
  background-position: 0px -230px;
  width: 26px;
  height: 34px;
}
.icon-improve {
  background-image: url(servicessprite.png);
  background-position: -186px -196px;
  width: 34px;
  height: 34px;
}
.icon-optimize {
  background-image: url(servicessprite.png);
  background-position: -220px -196px;
  width: 32px;
  height: 34px;
}
.icon-php {
  background-image: url(servicessprite.png);
  background-position: -172px 0px;
  width: 196px;
  height: 103px;
}
.icon-phpsmall {
  background-image: url(servicessprite.png);
  background-position: -283px -196px;
  width: 42px;
  height: 22px;
}
.icon-phpsmallinactive {
  background-image: url(servicessprite.png);
  background-position: -325px -196px;
  width: 42px;
  height: 22px;
}
.icon-socialfacebook {
  background-image: url(servicessprite.png);
  background-position: -152px -196px;
  width: 34px;
  height: 34px;
}
.icon-sociallinkedin {
  background-image: url(servicessprite.png);
  background-position: -84px -196px;
  width: 34px;
  height: 34px;
}
.icon-support {
  background-image: url(servicessprite.png);
  background-position: -26px -230px;
  width: 26px;
  height: 34px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-analyze {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-arrowdown {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-clients {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-companies {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-develop {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-dotnet {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-dotnetsmall {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-dotnetsmallinactive {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-frontend {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-frontendsmall {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-frontendsmallinactive {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-icon-suport {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-improve {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-optimize {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-php {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-phpsmall {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-phpsmallinactive {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-socialfacebook {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-sociallinkedin {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .icon-support {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
}

/**
 * fullPage 2.6.0
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}

.services section:not(.home) {
  padding-bottom: 40px;
}
.services section.technologies-we-use {
  padding-bottom: 0;
}
.services section .fp-tableCell {
  vertical-align: top;
}
.services section.home .slide.what-we-do {
  position: relative;
  width: 100%;
}
.services section.home .slide.what-we-do .background {
  height: 100%;
  background: url(../img/app/services/homefhd.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: opacity 1s;
  /* Safari */
  transition: opacity 1s;
  opacity: 0;
}
.services section.home .slide.what-we-do .content {
  position: absolute;
  color: #cccccc;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.services section.home .slide.what-we-do .content .content-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(35, 31, 32, 0), #231f20);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(35, 31, 32, 0), #231f20);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(235, 31, 32, 0), #231f20);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(35, 31, 32, 0), rgba(35, 31, 32, 0.5));
  /* Standard syntax (must be last) */
  opacity: 0.8;
}
.services section.home .slide.what-we-do .content .container {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
}
.services section.home .slide.what-we-do .content .adv-big {
  display: none;
}
.services section.home .slide.what-we-do .content .adv-big h1 {
  animation-delay: 1s;
}
.services section.home .slide.what-we-do .content .adv-big p {
  animation-delay: 0.8s;
}
.services section.home .slide.what-we-do .content .adv-big button {
  animation-delay: 0.6s;
}
.services section.home .slide.what-we-do .content .adv-small {
  display: block;
  position: relative;
  text-align: center;
  padding: 1em;
  text-shadow: 0 2px 3px #333333;
}
.services section.home .slide.what-we-do .content .adv-small h1 {
  opacity: 0;
  animation-delay: 1s;
}
.services section.home .slide.what-we-do .content .adv-small .icon {
  opacity: 0;
  animation-delay: 0.8s;
}
.services section.home .slide.what-we-do .content .adv-small .adv-background {
  width: 100%;
  height: 100%;
  background-color: #202020;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  border-radius: 4px;
}
.services section.home .slide.what-we-do .content .adv-small h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
}
.services section.home .slide.what-we-do .content .icon.arrow-down {
  right: 0;
  left: 0;
  width: 49px;
  height: 49px;
  border: none;
  background-color: transparent;
}
.services section.home .slide.what-we-do .content .icon.arrow-down div {
  top: 0;
  left: 0;
  opacity: 0.8;
}
.services section.home .slide.what-we-do .content h1 {
  line-height: 1.5;
}
.services section.what-we-do article {
  margin-bottom: 4em;
  text-align: center;
  /*.icon{
                        background-color: #429f46;
							border: none;
						width: 100px;
						height: 100px;
						border-radius: 100%;
						display: inline-block;
						&:before{
							content: '';
							display: inline-block;
							height: 100%;
							vertical-align: middle;
						}

						span{
							position: relative;
							display: inline-block;
    						vertical-align: middle;
						}
					}*/

}
.services section.what-we-do article h2 {
  color: #429f46;
  margin-top: 15px;
}
.services section.what-we-do article.analyze .icon span {
  top: 3px;
  left: -2px;
}
.services section.what-we-do article.optimize .icon span {
  left: -1px;
}
.services section.what-we-do article.improve .icon span {
  left: -1px;
}
.services section.what-we-do article.support {
  margin-bottom: 2em;
}
.services section.what-we-do article.support .icon span {
  left: -1px;
}
.services section.how-we-work .content {
  overflow: hidden;
}
.services section.how-we-work article h2 {
  text-align: center;
}
.services section.how-we-work article p.article-desc {
  margin-bottom: 1.5em;
  text-indent: 1.5em;
}
.services section.how-we-work article b {
  display: inline-block;
  margin-bottom: 1em;
}
.services section.how-we-work article ul {
  padding-left: 0;
  list-style: none;
}
.services section.how-we-work article ul li {
  margin-bottom: 0.5em;
}
.services section.how-we-work article ul li > div {
  width: 45px;
}
.services section.how-we-work article ul li > div,
.services section.how-we-work article ul li > p {
  float: left;
}
.services section.how-we-work article ul li > div span {
  display: inline-block;
}
.services section.how-we-work article ul li > p {
  width: 75%;
  margin-left: 1em;
}
.services section.how-we-work article .icon.arrow-down {
  border-color: whitesmoke;
  background-color: whitesmoke;
}
.services section.how-we-work article .article-content {
  background-color: white;
  border-radius: 4px;
  padding: 40px 2em 2em 2em;
  margin-top: -28px;
}
.services section.how-we-work article.dedicated-team {
  margin-bottom: 3em;
}
.services section.how-we-work article.dedicated-team h2 {
  margin-top: 0;
}
.services section.how-we-work article.custom-development ul li:first-child {
  margin-bottom: 1em;
}
.services section.technologies-we-use .content {
  overflow: hidden;
}
.services section.technologies-we-use article .left-part,
.services section.technologies-we-use article .right-part {
  position: relative;
  padding: 1em;
}
.services section.technologies-we-use article .right-part {
  color: white;
}
.services section.technologies-we-use article .right-part > div {
  top: 1em;
  left: 1em;
}
.services section.technologies-we-use article .right-part > div h2 {
  margin-top: 5px;
}
.services section.technologies-we-use article .right-part > div.dot-net-info {
  display: none;
}
.services section.technologies-we-use article .right-part ul {
  list-style-type: square;
  padding-left: 18px;
  margin-bottom: 0;
  float: left;
}
.services section.technologies-we-use article .right-part ul:first-child {
  margin-right: 2em;
}
.services section.technologies-we-use article .right-part ul li {
  line-height: 1.8;
}
.services section.technologies-we-use article .left-part > span {
  display: none;
}
.services section.technologies-we-use article .left-part ul {
  padding-left: 0;
  margin-bottom: 0;
  width: 233px;
  margin: 0 auto;
}
.services section.technologies-we-use article .left-part ul li {
  cursor: pointer;
  list-style: none;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  margin-left: 38px;
  float: left;
  border: 1px solid #cccccc;
  position: relative;
}
.services section.technologies-we-use article .left-part ul li:first-child {
  margin-left: 0;
}
.services section.technologies-we-use article .left-part ul li span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.services section.technologies-we-use article .left-part ul li.dot-net-item span {
  top: 1px;
  background-image: url(servicessprite.png);
  background-position: -172px -179px;
  width: 35px;
  height: 14px;
  display: inline-block;
}
.services section.technologies-we-use article .left-part ul li.dot-net-item:hover,
.services section.technologies-we-use article .left-part ul li.dot-net-item.active {
  border-color: #0288d1;
}
.services section.technologies-we-use article .left-part ul li.dot-net-item:hover span,
.services section.technologies-we-use article .left-part ul li.dot-net-item.active span {
  background-position: -207px -179px;
}
.services section.technologies-we-use article .left-part ul li.php-item span {
  top: 1px;
  background-image: url(servicessprite.png);
  background-position: -325px -196px;
  width: 42px;
  height: 22px;
  display: inline-block;
}
.services section.technologies-we-use article .left-part ul li.php-item:hover,
.services section.technologies-we-use article .left-part ul li.php-item.active {
  border-color: #5c6bc0;
}
.services section.technologies-we-use article .left-part ul li.php-item:hover span,
.services section.technologies-we-use article .left-part ul li.php-item.active span {
  background-position: -283px -196px;
}
.services section.technologies-we-use article .left-part ul li.front-end-item span {
  top: 5px;
  background-image: url(servicessprite.png);
  background-position: -79px -230px;
  width: 27px;
  height: 31px;
  display: inline-block;
}
.services section.technologies-we-use article .left-part ul li.front-end-item:hover,
.services section.technologies-we-use article .left-part ul li.front-end-item.active {
  border-color: #208f40;
}
.services section.technologies-we-use article .left-part ul li.front-end-item:hover span,
.services section.technologies-we-use article .left-part ul li.front-end-item.active span {
  background-position: -52px -230px;
}
.services section.technologies-we-use article.dot-net .right-part {
  background-color: #0288d1;
}
.services section.technologies-we-use article.php .right-part {
  background-color: #5c6bc0;
}
.services section.technologies-we-use article.front-end .right-part {
  background-color: #208f40;
}
.services section.contact-us h1 {
  margin-bottom: 20px;
}
.services section.contact-us p {
  text-align: center;
}
.services section.contact-us .mail-success {
  margin-bottom: 0;
}
.services section.contact-us .mail-error {
  display: none;
  text-align: left;
  color: #a94442;
  font-size: 13px;
  margin-top: 2px;
}
.services section.contact-us .form-inline {
  text-align: center;
}
.services section.contact-us .form-inline button {
  width: 100%;
}
@media screen and (min-width: 505px) {
  .services section.technologies-we-use article .left-part nav ul {
    margin: 0;
  }
}
@media screen and (min-width: 600px) {
  .services section:not(.home),
  .services section.technologies-we-use {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .services section:not(.home),
  .services section.technologies-we-use {
    padding-bottom: 60px;
  }
  .services section .fp-tableCell {
    vertical-align: middle;
  }
  .services section.home .slide.what-we-do .content .content-background {
    background: -webkit-linear-gradient(right, rgba(35, 31, 32, 0), #231f20);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(35, 31, 32, 0), #231f20);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(235, 31, 32, 0), #231f20);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(35, 31, 32, 0), #231f20);
    /* Standard syntax (must be last) */
    opacity: 0.3;
  }
  .services section.home .slide.what-we-do .content .container {
    height: 239px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .services section.home .slide.what-we-do .content .container .adv-small {
    display: none;
  }
  .services section.home .slide.what-we-do .content .container .adv-big {
    width: 423px;
    display: block;
    text-shadow: 0 2px 3px #333333;
  }
  .services section.home .slide.what-we-do .content .container .adv-big h1,
  .services section.home .slide.what-we-do .content .container .adv-big p,
  .services section.home .slide.what-we-do .content .container .adv-big button {
    opacity: 0;
  }
  .services section.home .slide.what-we-do .content .container .adv-big h1 {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.3;
  }
  .services section.home .slide.what-we-do .content .container .adv-big p {
    font-size: 18px;
    width: 324px;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  .services section.how-we-work article ul li > p {
    width: 82%;
  }
  .services section.how-we-work article.dedicated-team h2 {
    margin-top: 20px;
  }
  .services section.how-we-work article.custom-development {
    margin-top: 0;
  }
  .services section.technologies-we-use article .right-part > div {
    padding-left: 5px;
  }
  .services section.contact-us p {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Questrial', Arial, sans-serif;
    width: 550px;
    text-align: center;
  }
  .services section.contact-us .form-inline input[type="email"] {
    width: 350px;
  }
  .services section.contact-us .form-inline button {
    width: 100px;
  }
  .services section.contact-us .mail-error {
    position: absolute;
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .services section:not(.home),
  .services section.technologies-we-use {
    padding-bottom: 75px;
  }
  .services section.home .slide.what-we-do .content .content-background {
    background: transparent;
  }
  .services section.how-we-work article.dedicated-team {
    margin-bottom: 0;
  }
  .services section.how-we-work .article-content {
    height: 390px;
  }
  .services section.technologies-we-use article .left-part,
  .services section.technologies-we-use article .right-part {
    position: relative;
    height: 380px;
    padding: 1em;
  }
  .services section.technologies-we-use article .left-part {
    background-color: transparent;
  }
  .services section.technologies-we-use article .left-part > span {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
  }
  .services section.technologies-we-use article .left-part nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .services section.technologies-we-use article .left-part nav ul li {
    float: none;
    margin-left: 0;
    margin-top: 20px;
  }
  .services section.technologies-we-use article .left-part nav ul li:first-child {
    margin-top: 0;
  }
  .services section.technologies-we-use article .right-part {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .services section.technologies-we-use article .right-part > div {
    padding-left: 15px;
    padding-top: 5px;
  }
  .services section.technologies-we-use article .right-part .dot-net-info ul:nth-child(2) {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .services section.how-we-work .article-content {
    height: 366px;
  }
  .services section.technologies-we-use article .right-part {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .services section.technologies-we-use article .right-part .dot-net-info ul:nth-child(2) {
    width: auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .services section.technologies-we-use article .left-part ul li.dot-net-item span {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .services section.technologies-we-use article .left-part ul li.dot-net-item:hover span,
  .services section.technologies-we-use article .left-part ul li.dot-net-item.active span {
    background-size: 368px 264px;
  }
  .services section.technologies-we-use article .left-part ul li.php-item span {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .services section.technologies-we-use article .left-part ul li.php-item:hover,
  .services section.technologies-we-use article .left-part ul li.php-item.active {
    border-color: #5c6bc0;
  }
  .services section.technologies-we-use article .left-part ul li.php-item:hover span,
  .services section.technologies-we-use article .left-part ul li.php-item.active span {
    background-size: 368px 264px;
  }
  .services section.technologies-we-use article .left-part ul li.front-end-item span {
    background-image: url(servicessprite-2x.png);
    background-size: 368px 264px;
  }
  .services section.technologies-we-use article .left-part ul li.front-end-item:hover,
  .services section.technologies-we-use article .left-part ul li.front-end-item.active {
    border-color: #208f40;
  }
  .services section.technologies-we-use article .left-part ul li.front-end-item:hover span,
  .services section.technologies-we-use article .left-part ul li.front-end-item.active span {
    background-size: 368px 264px;
  }
}

